.credentialList h2 {
  margin-bottom: var(--size2);
  color: var(--text-color-primary);
}

.credentialItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size1_5);
  background-color: var(--background-color-offset);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  gap: var(--size2);
}

.credentialItem span {
  color: var(--text-color-secondary);
}

.credentialContainer {
  display: flex;
  align-items: center;
  gap: var(--size2);
}

.credentialList {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
}
