.connectTeamFormWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.connectTeamFormContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
  align-items: center;
  min-width: 550px;
  border: 1px solid var(--background-color-offset-2);
  border-radius: var(--border-radius-large);
  background-color: var(--background-color-offset);
  padding: var(--size2);
}

@media (max-width: 768px) {
  .connectTeamFormContainer {
    min-width: 90vw;
  }
}