@import '../styles/variables.css';

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size1);
  border-radius: var(--border-radius-small);
}

.iconButton:hover {
  background-color: var(--background-color-offset);
}

.default {
  color: var(--text-color);
  background-color: var(--background-color);
}

.default:hover {
  background-color: var(--background-color-offset);
}

.secondary {
  color: var(--secondary-color);
}

.secondary:hover {
  background-color: var(--background-color-offset);
}

.clear {
  color: var(--text-color);
  background-color: transparent;
}

.clear:hover {
  background-color: var(--background-color-offset);
}
