@import '../styles/variables.css';

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size1);
}

.default {
  color: var(--text-color);
  background-color: var(--background-color);
}

.secondary {
  color: var(--secondary-color);
}

