@import "../styles/variables.css";

.matchup-guide {
  padding: var(--size2);
}

.game-group {
  margin-bottom: var(--size4);
}

.game-group h3 {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color-muted);
  padding-bottom: var(--size0_5);
  margin-bottom: var(--size2);
}

.game-group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--size2);
}

.matchup {
  background-color: var(--background-color-offset);
  border-radius: var(--size0_5);
  padding: var(--size2);
  display: flex;
  flex-direction: column;
  min-height: 180px;
  gap: var(--size2)
}


.matchup-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size1) var(--size2);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  border-top-left-radius: var(--size0_5);
  border-top-right-radius: var(--size0_5);
  gap: var(--size1);
}

.matchup-subheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team-names {
  font-size: var(--size3);
  font-weight: bold;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.away-team, .home-team {
  text-align: center;
}

.at-symbol {
  margin: 0 var(--size1);
  color: var(--text-color-muted);
  font-weight: normal;
}

.total-players {
  font-size: var(--size1_5);
  color: var(--text-color-secondary);
}

.matchup-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.no-players-content {
  justify-content: center;
  align-items: center;
}

.team-players {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
}

.starters-row,
.bench-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size2);
}

.channel {
  color: var(--text-color-muted)
}

.away-starters,
.home-starters,
.away-bench,
.home-bench {
  width: 100%;
}

.player-divider {
  grid-column: 1 / -1;
  margin: var(--size2) 0;
  border: none;
  border-top: 1px solid var(--border-color);
}

.team-players h4 {
  margin-top: 0;
  margin-bottom: var(--size1);
  font-size: var(--size2);
  color: var(--text-color-secondary);
}

.player-count {
  text-align: center;
  font-size: var(--size2);
  color: var(--text-color-secondary);
}

@media (max-width: 768px) {
  .starters-row,
  .bench-row {
    grid-template-columns: 1fr;
  }

  .home-starters,
  .home-bench {
    margin-top: var(--size2);
  }
}
