@import '../styles/variables.css';

.matchup-guide {
  padding: var(--size2);
  background-color: var(--background-color-offset);
  border-radius: var(--size1);
}

.game-group {
  margin-bottom: var(--size4);
}

.game-group h3 {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: var(--size0_5);
  margin-bottom: var(--size2);
}

.game-group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--size2);
}

.matchup {
  background-color: var(--background-color);
  border-radius: var(--size0_5);
  padding: var(--size2);
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.matchup-header {
  margin-bottom: var(--size2);
}

.team-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--size3);
  font-weight: bold;
}

.at-symbol {
  margin: 0 var(--size1);
  color: #888;
}

.matchup-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.no-players-content {
  justify-content: center;
}

.team-players {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team {
  width: 48%;
}

.away-team {
  text-align: left;
}

.home-team {
  text-align: right;
}

.player {
  margin: var(--size1) 0;
  font-size: var(--size2);
}

.no-players {
  color: #888;
  font-style: italic;
  font-size: var(--size1_5);
}

.matchup-footer {
  text-align: right;
  margin-top: var(--size1);
}

.channel {
  color: #888;
  font-size: var(--size1_5);
}

@media (min-width: 768px) {
  .game-group-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1200px) {
  .game-group-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1600px) {
  .game-group-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2000px) {
  .game-group-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .game-group-content {
    grid-template-columns: 1fr;
  }
}