.navigation {
  background-color: var(--background-color-offset);
  padding: var(--size0_5) var(--size1_5);
  display: flex;
  align-items: center;
  gap: var(--size1);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  min-height: var(--size6); /* Ensure consistent height */
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin: 0 1rem;
}

.navigation a:hover {
  color: var(--primary-color);
}

.branding {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevent logo from shrinking */
}

.logo {
  width: var(--size3);
  height: var(--size3);
  margin-right: var(--size1);
}

.title {
  font-size: var(--size2);
  color: var(--text-color);
  margin-bottom: 0;
}

.itemsGroup {
  display: flex;
  align-items: center;
  gap: var(--size1);
}

.mobileMenuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenuIcon {
    display: flex;
    width: var(--size4);
    height: var(--size4);
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-medium);
    flex-shrink: 0; /* Prevent hamburger from shrinking */
    /* border: 1px solid var(--background-color-offset-2); */
  }

}
