.navigation {
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin: 0 1rem;
}

.navigation a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: var(--primary-color);
}

.branding {
  display: flex;
  align-items: center;
}

.logo {
  width: var(--size3);
  height: var(--size3);
  margin-right: var(--size1);
}

.title {
  font-size: var(--size2);
  color: var(--text-color);
  margin-bottom: 0;
}

.itemsGroup {
  display: flex;
  align-items: center;
  gap: var(--size1);
}

.mobileMenuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

}
