@import "../styles/variables.css";
@import "../styles/utils.css";

.teamCard {
  background-color: var(--background-color-offset);
  border: 1px solid var(--background-color-offset-2);
  border-radius: var(--border-radius-medium);
  padding: var(--size2);
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size0_5);
}

.headerWrapper p {
  margin: 0;
}

.teamHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teamHeader h3 {
  color: var(--text-color);
  margin: 0;
}

.subheader {
  margin-bottom: var(--size1);
}

.teamInfo {
  display: flex;
  align-items: center;
  gap: var(--size1);
}

.division {
  color: var(--text-color-muted);
  margin: 0;
}

.playerCount {
  color: var(--primary-color);
  margin: 0;
}

.playersList {
  margin-top: var(--size2);
}

.playersHeader {
  display: grid;
  grid-template-columns: 35px 1fr 60px 60px;
  gap: var(--size3);
  font-weight: bold;
  color: var(--text-color-muted);
  margin-bottom: var(--size1);
  padding: var(--size0_5) var(--size0_5) var(--size1);
  width: 100%;
  max-width: 450px;
}

.noPlayers {
  color: var(--text-color-muted);
  font-style: italic;
  margin-top: var(--size2);
}

@media (max-width: 768px) {
  .playersHeader {
    grid-template-columns: 30px 2fr 1fr 1fr;
  }
}
