
.player {
    padding: var(--size0_5);
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    column-gap: var(--size1);
    overflow-wrap: break-word; /* Allow long words to break */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
  }
  
  .player p {
    margin: 0;
  }
  
  .player-team {
    color: var(--text-color-muted);
    /* min-width: 30px; */
  }
  
   .player-user-teams {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    overflow-wrap: break-word; /* Allow long words to break */
}

.player-user-teams p {
    font-size: var(--size1);
    margin-bottom: 0;
    white-space: normal; /* Allow wrapping */
    overflow-wrap: break-word; /* Allow long words to break */
}
  .player-position {
    /* min-width: 30px; */
    color: var(--text-color-muted);
  }
  
  .player-position.QB {
    color: var(--color-red);
  }
  
  .player-position.RB {
    color: var(--secondary-color);
  }
  
  .player-position.WR {
    color: var(--color-blue);
  }
  
  .player-position.TE {
    color: var(--primary-color);
  }
  
  .player-name {
    /* min-width: 100px; */
  }
  