@import '../variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--size2);
}

.logo {
  width: var(--size10);
  height: auto;
  margin-bottom: var(--size2);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.formGroup {
  margin-bottom: var(--size2);
}

.label {
  margin-bottom: var(--size1);
  display: block;
}

.input {
  width: 100%;
  padding: var(--size1);
  border: 1px solid var(--text-color);
  border-radius: var(--size0_5);
  background-color: var(--background-color-light);
  color: var(--text-color);
}

.linkContainer {
  margin-top: var(--size2);
}

.error {
  color: red;
  margin-bottom: var(--size2);
}