@import "../styles/variables.css";
@import "../styles/utils.css";

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--size2);
}

.sidebar {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width); /* Add this to prevent sidebar from shrinking */
  background-color: var(--background-color);
  padding: var(--size2);
  overflow-y: auto;
  height: 100%;
  border-right: 1px solid var(--background-color-offset-2);
  position: fixed;
}

.close-button {
  font-size: var(--size4);
  cursor: pointer;
  position: absolute;
  top: var(--size1);
  left: var(--size1);
}

.sidebar.open {
  left: 0;
}

.connect-team-container {
  width: 100%;
  text-align: center;
}

.branding {
  display: flex;
  align-items: center;
  margin-bottom: var(--size2);
}

.logo {
  width: var(--size4);
  height: var(--size4);
  margin-right: var(--size1);
}

.title {
  font-size: var(--size3);
  color: var(--text-color);
}

.control-group {
  margin-bottom: var(--size2);
}

.temp-user-message {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
}

.desktop-logo {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 80vw;
    transition: left 0.3s ease;
    z-index: 1001;
    top: var(--size8);
    padding: var(--size2) var(--size1_5);
  }

  .sidebar.open {
    left: 0;
  }

  .menu-items {
    gap: var(--size2);
  }

  .sidebar-header {
    display: none;
  }
}
