/* Scrollbar styling */
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.scrollbar.horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollbar.horizontal::-webkit-scrollbar {
  height: 8px;
  width: 100%;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.8);
}

.scrollContainer {
  position: relative;
}

.scrollContainer.withGradient::before,
.scrollContainer.withGradient::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--size6); /* Adjust the width of the gradient as needed */
  pointer-events: none; /* Ensure the gradients do not interfere with user interactions */
  z-index: 1; /* Ensure the gradients are above the carousel content */
}

.scrollContainer.withGradient::before {
  width: var(--size1_75);
}

.scrollContainer.withGradient::before {
  left: 0px;
  background: linear-gradient(
    to right,
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 0)
  ); /* Adjust colors as needed */
}

.scrollContainer.withGradient::after {
  right: 0px;
  background: linear-gradient(
    to left,
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 0)
  ); /* Adjust colors as needed */
}

/* For Firefox */
@supports (scrollbar-color: auto) {
  .scrollbar {
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
    scrollbar-width: thin;
  }
}

.scrollbarInvisible {
  scrollbar-width: none;
}

