@import "./animations.css";

.divider {
  margin: var(--size2) 0;
  border: none;
  border-top: 1px solid var(--background-color-offset-2);
  width: 100%;
}

.divider-light {
  border-color: var(--text-color-muted);
}

.divider-no-margin {
  margin: 0;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.muted {
  color: var(--text-color-muted);
}

.list-disc li {
  list-style-type: disc;
  margin-left: var(--size3);

}

.highlight {
  animation: blink .875s linear 0.75s 3;
}