:root {

  --color-red: #CD4631;
  --color-red-hover: #A43828;
  --color-red-active: #A43828;
  --color-blue: #357DED;
  --color-green: #95C623;
  --color-yellow: #FCA311;
  --color-purple: #A14DA0;

  --background-color: #121212;
  --background-color-offset: #1a1a1a;
  --background-color-offset-2: #2a2a2a;
  --background-color-light: #e0e0e0;
  --text-color: #e0e0e0;
  --text-color-muted: #a0a0a0;
  --text-color-light: #121212;
  --text-color-light-muted: #6e6e6e;

  --primary-color: var(--color-yellow);
  --primary-hover-color: #DE8A02; 
  --primary-active-color: #DE8A02;
  --secondary-color: var(--color-green);
  --secondary-hover-color: #769C1C;
  --secondary-active-color: #769C1C;

  --primary-disabled-bg: #f7d088; /* Lighter yellow for better contrast */
  --primary-disabled-color: #5f3d00; /* Darker yellow for better contrast */
  --secondary-disabled-bg: #A8D46A; /* Lighter green for better contrast */
  --secondary-disabled-color: #4A6C1C; /* Darker green for better contrast */
  --clear-disabled-bg: #2A2A2A;
  --clear-disabled-color: #A0A0A0;
  --danger-disabled-bg: #E6A6A6;
  --danger-disabled-color: #A43828;

  /* 8-based sizing system */
  --size0_5: 4px;
  --size1: 8px;
  --size1_5: 12px;
  --size2: 16px;
  --size2_5: 20px;
  --size3: 24px;
  --size3_5: 28px;
  --size4: 32px;
  --size4_5: 36px;
  --size5: 40px;
  --size5_5: 44px;
  --size6: 48px;
  --size6_5: 52px;
  --size7: 56px;
  --size7_5: 60px;
  --size8: 64px;
  --size8_5: 68px;
  --size9: 72px;
  --size9_5: 76px;
  --size10: 80px;
  --size10_5: 84px;

  --font-size-small: var(--size1);
  --font-size-medium: var(--size1_5);
  --font-size-m_l: var(--size2);
  --font-size-large: var(--size2_5);
  --font-size-xl: var(--size3_5);


  --font-size-xxl: var(--size4);
  --font-size-xxxl: var(--size4_5);

  --border-radius-small: var(--size0_5);
  --border-radius-medium: var(--size1);
  --border-radius-large: var(--size2);
  --border-radius-full: 50%;
}
 
/* https://coolors.co/fca311-a14da0-357ded-95c623-cd4631 */


  /* Import the new font files */
  @font-face {
    font-family: 'altehaasgrotesk';
    src: url('./assets/fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('./assets/fonts/altehaasgroteskregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'altehaasgrotesk';
    src: url('./assets/fonts/altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('./assets/fonts/altehaasgroteskbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

