.player {
  padding: var(--size1) var(--size0_5);
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 35px 1fr 60px 60px;
  column-gap: var(--size3);
  overflow-wrap: break-word; /* Allow long words to break */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
  border-bottom: 1px solid var(--background-color-offset-2);
  width: 100%;
  max-width: 450px;
}

.player p {
  margin: 0;
}

.player-team {
  color: var(--text-color-muted);
}

.player-user-teams {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size1);
  overflow-wrap: break-word; /* Allow long words to break */
}

.player-user-teams-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size0_5);
}

.player-user-teams-text p {
  font-family: monospace;
  color: var(--text-color);
  margin-bottom: 0;
  white-space: normal; /* Allow wrapping */
  overflow-wrap: break-word; /* Allow long words to break */
}

.player-name-opponent-only {
  color: var(--text-color-muted);
}

.opponent-teams p {
  color: var(--text-color-muted);
}

.player-position.QB {
  color: var(--color-red);
}

.player-position.RB {
  color: var(--secondary-color);
}

.player-position.WR {
  color: var(--color-blue);
}

.player-position.TE {
  color: var(--primary-color);
}

.player-position.K {
  color: var(--color-purple);
}

.leaguePopup {
  display: flex;
  flex-direction: column;
  gap: var(--size1_5);
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.leaguePopupContentRow {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  gap: var(--size1_5);
}

.leaguePopupContentLabel {
  justify-self: flex-end;
  color: var(--text-color-muted);
}

.leaguePopupContentValue {
  font-weight: bold;
  justify-self: flex-start;
}

.leaguePopup h5 {
  margin: 0;
}

.leaguePopup .platformId {
  text-transform: capitalize;
}

.leaguePopupContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size0_5);
  margin: var(--size2) auto;
}

@media (max-width: 768px) {
  .player {
    grid-template-columns: 30px 2fr 1fr 1fr;
    column-gap: var(--size1);
    padding: var(--size1) var(--size0_5);
    max-width: none;
  }

  .player-user-teams-chips {
    justify-self: center;
  }
}

.player-user-teams-chips {
  display: flex;
  flex-direction: column;
  gap: var(--size0_75);
}
