.player {
  padding: var(--size0_5);
  display: grid;
  grid-template-columns: 40px 35px 170px 50px;
  align-items: center;
  column-gap: var(--size1_5);
  overflow-wrap: break-word; /* Allow long words to break */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
}

.player p {
  margin: 0;
}

.player-team {
  color: var(--text-color-muted);
}

.player-user-teams {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size1);
  overflow-wrap: break-word; /* Allow long words to break */
}

.player-user-teams-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size0_25);
}

.player-user-teams-text p {
  font-family: monospace;
  color: var(--text-color-muted);
  margin-bottom: 0;
  white-space: normal; /* Allow wrapping */
  overflow-wrap: break-word; /* Allow long words to break */
  font-size: var(--font-size-medium);
  line-height: 1.2;
}

.player-position.QB {
  color: var(--color-red);
}

.player-position.RB {
  color: var(--secondary-color);
}

.player-position.WR {
  color: var(--color-blue);
}

.player-position.TE {
  color: var(--primary-color);
}

.player-position.K {
  color: var(--color-purple);
}
