@import "../../styles/variables.css";

.connect-team-container {
  display: flex;
  justify-content: center;
  margin-top: var(--size1);
}

.fantasy-team-actions {
  display: flex;
  justify-content: space-between;
}

.fantasy-team-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--size1);
}


.fantasy-team-item input[type="checkbox"] {
  margin-right: var(--size0_5);
}

.fantasy-team-list-wrapper h5 {
  margin-bottom: var(--size1);
}

.fantasy-team-list {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
  padding-left: var(--size1);
}

.fantasy-team-list > * {
  padding-bottom: var(--size1); 
  border-bottom: 1px solid var(--background-color-offset-2);
}

.fantasy-team-list {
  background-color: var(--background-color-offset);
  border-radius: var(--border-radius-small);
}

.fantasy-team-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
