@import "../../styles/variables.css";

.connect-team-container {
  display: flex;
  justify-content: center;
  margin-top: var(--size1);
}

.fantasy-team-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fantasy-team-list-wrapper h5 {
  margin-bottom: var(--size1);
}

.fantasy-team-list-wrapper small {
  text-align: right;
}

.fantasy-team-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fantasy-team-list > * {
  border-bottom: 1px solid var(--background-color-offset-2);
}

.fantasy-team-list-container {
  /* background-color: var(--background-color-offset); */
  border-radius: var(--border-radius-small);
  padding: var(--size1);
}
