.fantasy-team-item {
  cursor: pointer;
  padding: var(--size1) 0;
  width: 100%;
}

.fantasy-team-item p {
  text-decoration: underline;

}

.fantasy-team-item input[type="checkbox"] {
  margin-right: var(--size0_5);
}
