@import "../../styles/variables.css";
@import "../../styles/utils.css";

.game-group {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
}

.game-group h3 {
  color: var(--text-color);
}

.game-bucket {
  display: flex;
  flex-direction: column;
  gap: var(--size0_75);
}

.game-bucket h4 {
  color: var(--text-color-muted);
  text-align: center;
  margin-bottom: 0;
}

.game-group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--size2);
}

.game-group-content.one-game {
  grid-template-columns: 1fr;
}

.bucket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bucket-header h4 {
  font-size: var(--font-size-medium);
  font-weight: normal;
  padding-left: var(--size1_5);
}

.collapse-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.125s ease-in-out;
  transform: rotate(0deg);
}

.collapsed {
  transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .game-group-content {
    /*grid-template-columns: 1fr;  Stack items vertically on smaller screens */
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr;
    /* flex-direction: column; */
    gap: var(--size2);
  }

  /* Grid positioning classes for mobile expansion */
  .aboveSelectedL {
    grid-column: 1;
  }

  .aboveSelectedR {
    grid-column: 2;
  }

  .selected {
    grid-column: 1 / 3; /* Span both columns */
  }

  .belowSelectedL {
    grid-column: 1;
  }

  .belowSelectedR {
    grid-column: 2;
  }
}
