@import "../../styles/variables.css";
@import "../../styles/utils.css";

.matchup-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--size1);
  cursor: pointer;
  padding: var(--size1);
  background-color: var(--background-color-offset-2);
  /* border: 5px solid var(--background-color-offset-2); */
  /* border-top: none; */
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

.matchup-header.collapsed {
  background-color: transparent;
  border-color: transparent;
}

.matchup-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.team-names {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-names h3 {
  text-decoration: none;
  margin: 0;
  min-width: 4.5ch;
  text-align: center;
}

.team-names span {
  line-height: 1.2;
  text-align: center;
}

.team-names-container .at-symbol {
  color: var(--text-color-muted);
  font-weight: normal;
}

.matchup-header-right p {
  color: var(--text-color-muted);
  font-size: var(--font-size-medium);
  margin: 0;
}

.schedule-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size0_5);
  color: var(--text-color-muted);
}

.schedule-info p {
  text-align: right;
}

@media (max-width: 768px) {
  .matchup-header {
    padding: var(--size1) var(--size1);
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .matchup-header.collapsed {
    grid-template-columns: 50px 1fr;
  }

  .matchup-header.collapsed .team-names h3 {
    font-size: var(--font-size-large);
  }

  .collapsed .schedule-info {
    display: none;
  }

  
  .expand-button {
    display: none;
  }
}
