@import "../../styles/variables.css";
@import "../../styles/utils.css";

.matchup {
  background-color: var(--background-color-offset);
  border-radius: var(--size0_5);
  padding: var(--size2);
  display: flex;
  flex-direction: column;
}

.matchup-header {
  display: flex;
  justify-content: space-between;
  gap: var(--size1);
}

.matchup-header-container {
  padding: var(--size0_5) var(--size1);
}

.matchup-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-game-badge {
  color: var(--color-yellow);
  font-size: var(--size1_5);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size0_5);
}

.top-game-badge h5 {
  margin: 0;
}

.team-names {
  color: var(--text-color);
  display: flex;
  gap: var(--size1);
}

.team-names h3 {
  text-decoration: none;
  margin: 0;
}

.team-names span {
  line-height: 1.2;
  text-align: center;
}

.at-symbol {
  margin: 0 var(--size1);
  color: var(--text-color-muted);
  font-weight: normal;
}

.total-players {
  font-size: var(--size1_5);
  color: var(--text-color-secondary);
}

.no-players-content {
  justify-content: center;
  align-items: center;
}

.team-players {
  display: flex;
  flex-direction: column;
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size0_5);
  margin-bottom: var(--size3);
}

.players-wrapper:last-of-type {
  margin-bottom: var(--size1);
}

.starters-row,
.bench-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size0_5);
}

.matchup-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--size0_5);
}

.matchup-header-right p {
  color: var(--text-color-muted);
  font-size: var(--font-size-medium);
  margin: 0;
}

.starters,
.bench {
  width: 100%;
}

.team-players h4 {
  margin: 0;
  color: var(--text-color-muted);
  /* align-self: flex-start; */
  padding-left: var(--size1);
}

.player-count {
  text-align: center;
  font-size: var(--size2);
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size1);
}

.player-count h4 {
  margin: 0;
  line-height: 1;
}

.bench-button {
  width: 100%;
  text-align: left;
  margin-bottom: var(--size2);
}

.bench-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size1);
}

.top-game {
  color: var(--color-yellow);
}

.self-starters {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1px;
}

.opponent-starters {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1px;
}

.starters-none {
  color: var(--text-color-muted);
}

.team-players-header {
  display: grid;
  grid-template-columns: 35px 1fr 50px 50px;
  column-gap: var(--size3);
  align-items: center;
  padding: var(--size0_5) var(--size0_5) var(--size1);
  color: var(--text-color-muted);
  width: 100%;
  max-width: 450px;
  justify-items: flex-start;
}

.team-players-header h5 {
  margin: 0;
}

.team-players-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.no-players {
  color: var(--text-color-muted);
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .team-players-header {
    grid-template-columns: 1fr 3fr 1fr 1fr;
    column-gap: var(--size1);
    padding: var(--size0_5);
    max-width: none;
  }

  .starters-row,
  .bench-row {
    grid-template-columns: 1fr;
  }

  .matchup {
    padding: var(--size1);
  }
}
