@import "../../styles/variables.css";
@import "../../styles/utils.css";

.matchup {
  background-color: var(--background-color-offset);
  border-radius: var(--size0_5);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.matchup-content {
  width: 100%;
  padding: var(--size1_25) var(--size1) var(--size1);
}


.no-players-content {
  justify-content: center;
  align-items: center;
}

.team-players {
  display: flex;
  flex-direction: column;
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--size0_5);
}

.players-wrapper:last-of-type {
  margin-bottom: var(--size1);
}

.starters-row,
.bench-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size0_5);
}


.starters,
.bench {
  width: 100%;
}

.team-players h4 {
  margin: 0;
  color: var(--text-color-muted);
  /* align-self: flex-start; */
  padding-left: var(--size1);
}

.bench-button {
  width: 100%;
  text-align: left;
  margin-bottom: var(--size2);
}

.bench-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size1);
}

.team-players-header {
  display: grid;
  grid-template-columns: 35px 1fr 60px 60px;
  column-gap: var(--size3);
  align-items: center;
  padding: var(--size0_5) var(--size0_5) var(--size1);
  color: var(--text-color-muted);
  width: 100%;
  max-width: 450px;
  justify-items: flex-start;
}

.team-players-header h5,
.team-players-header h6 {
  margin: 0;
}

.team-players-header h6.centerHeader {
  text-align: center;
  width: 100%;
}

.team-players-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.no-players {
  color: var(--text-color-muted);
  text-align: center;
  margin: 0;
  margin-bottom: var(--size1);
}

.cardFooter {
  align-self: flex-end;
  color: var(--text-color-muted);
  line-height: 1;
}

@media (max-width: 768px) {
  .team-players-header {
    grid-template-columns: 30px 2fr 1fr 1fr;
    column-gap: var(--size1);
    padding: var(--size0_5);
    max-width: none;
  }

  .team-players-header h6:nth-child(3),
  .team-players-header h6:nth-child(4) {
    justify-self: center;
  }

  .starters-row,
  .bench-row {
    grid-template-columns: 1fr;
  }
}
