@import "../../styles/variables.css";
@import "../../styles/utils.css";

.game-group {
  margin-bottom: var(--size4);
}

.game-group h3 {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color-muted);
  padding-bottom: var(--size0_5);
  margin-bottom: var(--size2);
}

.game-group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--size2);
}