@import "../../styles/variables.css";
@import "../../styles/utils.css";
@import "../../styles/scrollbar.css"; /* Import the new scrollbar styles */

.header {
  display: flex;
  align-items: center;
}

.matchup-guide {
  display: flex;
  flex-direction: column;
}

.matchup-guide h2 {
  margin-bottom: 0;
}

.game-group {
  margin-bottom: var(--size4);
}

.game-group h3 {
  color: var(--text-color);
}

.game-bucket {
  display: flex;
  flex-direction: column;
  gap: var(--size0_5);
  padding-top: var(--size4);
}

.game-bucket:first-child {
  padding-top: var(--size2);
}

.game-bucket h4 {
  color: var(--text-color-muted);
  margin-bottom: var(--size1);
  text-align: center;
}

.game-group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--size2);
}

.no-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media (max-width: 768px) {
  .game-group-content {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
    display: flex;
    flex-direction: column;
    gap: var(--size2);
  }
}

.bucket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.125s ease-in-out;
  transform: rotate(0deg);
}

.collapsed {
  transform: rotate(-90deg);
}

.gameBucketGroups {
  max-height: calc(100vh - 150px);
}

.gameBucketGroups {
  padding-right: var(--size1);
  max-height: calc(100vh - 150px);
}

.userTeams {
  display: flex;
  align-items: center;
  gap: var(--size1);
}

.userTeams h5,
.userTeams p {
  margin: 0;
  line-height: 1;
}


@media (max-width: 768px) {
  .gameBucketGroups {
    max-height: calc(100vh - 180px);
  }

  .matchup-guide {
    flex-direction: column-reverse;
  }
}
