@import "../../styles/variables.css";
@import "../../styles/utils.css";
@import "../../styles/scrollbar.css"; /* Import the new scrollbar styles */

.header {
  display: flex;
  align-items: center;
  padding-top: var(--size1);
}

.matchup-guide {
  display: flex;
  flex-direction: column;
}

.matchup-guide h2 {
  margin-bottom: 0;
}


.no-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.alertContainer {
  margin: auto;
}


.gameBucketGroups {
  padding-right: var(--size1);
}

.userTeams {
  display: flex;
  align-items: center;
  gap: var(--size1);
}

.userTeams h5,
.userTeams p {
  margin: 0;
  line-height: 1;
}

.leagueTickerWrapper {
  padding-bottom: var(--size1);
  max-width: calc(100vw - var(--sidebar-width));
}

.leagueTickerWrapper.fixed {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;
  z-index: 1000;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color-offset-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

