@import "../../styles/scrollbar.css"; /* Import the new scrollbar styles */

.carouselContainer {
  position: relative; /* Ensure the container is positioned relative for pseudo-elements */
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensure the container does not overflow */
  width: 100%; /* Ensure the container takes the full width of the parent */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  max-width: calc(100vw - 300px);
  justify-content: space-between;
  padding-bottom: var(--size1);
}

.carouselContainer::before,
.carouselContainer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 32px; /* Adjust the width of the gradient as needed */
  pointer-events: none; /* Ensure the gradients do not interfere with user interactions */
  z-index: 1; /* Ensure the gradients are above the carousel content */
}

.carouselContainer::before {
  left: -10px;
  background: linear-gradient(
    to right,
    rgba(18, 18, 18, 1),
    rgba(18, 18, 18, 0)
  ); /* Adjust colors as needed */
}

.carouselContainer::after {
  right: -10px;
  background: linear-gradient(
    to left,
    rgba(18, 18, 18, 1),
    rgba(18, 18, 18, 0)
  ); /* Adjust colors as needed */
}

.carousel {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.carousel > div {
  display: inline-block;
}

.carouselButton {
  background-color: var(--background-color);
  border: none;
  padding: var(--size1);
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--font-size-medium);
  flex-shrink: 0; /* Prevent buttons from shrinking */
}

.slick-slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .carouselContainer {
    max-width: 100%;
    padding-top: var(--size1_5);
  }

  .carouselButton {
    display: none;
  }
}
