@import "../styles/variables.css";

.logoWrapper {
  display: flex;
  align-items: center;
  gap: var(--size0_5);
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > h1 {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--size4);
}

.logoWrapper h1 {
  font-size: var(--size2_5);
  margin: 0; 
}

.xxsmall h1 {
  font-size: var(--size1_25);
  margin-top: -1px
}

.xsmall h1 {
  font-size: var(--size1_75);
}

.large h1 {
  font-size: var(--size4);
}

.logoWrapper .text {
  margin-top: var(--size0_5);
} 

.logoWrapper.large .text {
  margin-top: 6px;
}

.logoText {
  padding-top: var(--size0_5); 
} 

.large .logoText {
  padding-top: var(--size1);
}


.text {
  padding-top: var(--size0_25); 
}