@import "../../styles/variables.css";
@import "../../styles/utils.css";

.preferencesSection {
  padding: var(--size2);
  margin-bottom: var(--size2);
  background-color: var(--background-color-offset);
}

.preferencesSection h4 {
  margin-bottom: var(--size1);
}

.closeButton {
  cursor: pointer;
  background-color: transparent;
}

.teamsList {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
}

.teamRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size0-5);
  padding: var(--size1);
  border-bottom: 1px solid var(--background-color-offset-2);
}

.teamRow:last-child {
  border-bottom: none;
}

.teamHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size1);
}

.teamName {
  font-weight: 500;
}

.eyeIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size0-5);
  cursor: pointer;
  padding: var(--size0-5);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.eyeIcon:hover {
  background-color: var(--background-color-offset-2);
}

.statusText {
  font-style: italic;
  font-size: 0.875rem;
  color: var(--text-color-muted);
}

.controls {
  padding-left: 0;
}

.hidden {
  opacity: 0.5;
}


@media (max-width: 768px) {
 .teamRow {
    flex-direction: column;
 }
}