@import "../../../styles/variables.css";
@import "../../../styles/utils.css";

.leagueCardsSection {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
}

.leagueCardsSection h2 {
  font-size: var(--font-size-m_l);
  margin-bottom: 0;
  padding-left: var(--size1_5);
}

.leagueCardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--size1);
}

.sectionTitle {
  font-size: var(--font-size-small);
  font-weight: normal;
  margin: 0;
  color: var(--text-color-muted);
  text-align: center;
}

@media (max-width: 768px) {
  .leagueCardsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size1);
  }
}
