@import "../../../styles/variables.css";
@import "../../../styles/utils.css";

.leagueCardsSection {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
}


.leagueCardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--size1);
}

.leagueCardsGrid.expanded {
  grid-template-columns: repeat(1, 1fr);
}

.sectionTitle {
  font-size: var(--font-size-medium);
  font-weight: normal;
  margin: 0;
  color: var(--text-color-muted);
  padding-left: var(--size1_5);
  line-height: 1;
}

.paginationControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size1);
  padding: 0 var(--size1);
}

.pageIndicator {
  font-size: var(--font-size-small);
  color: var(--text-color-muted);
  font-weight: 500;
}

.expandButtonText {
  font-size: var(--font-size-small);
}

@media (max-width: 768px) {
  .leagueCardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
