.playerInLeagueCard {
  padding: var(--size0_25) var(--size0_5) var(--size1);
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 35px 1fr 60px;
  column-gap: var(--size3);
  overflow-wrap: break-word; /* Allow long words to break */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
  border-bottom: 1px solid var(--background-color-offset-2);
  width: 300px;
  max-width: 450px;
}

.playerInLeagueCard:last-child {
  border-bottom: none;
}

.none {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: none;
}

.mobile {
    grid-template-columns: minmax(30px, min-content) 1fr  minmax(30px, min-content);
    width: 100%;
    column-gap: var(--size1);
}

.mobile p {
    font-size: var(--font-size-small);
}

.hasPlayed .playerName {
  color: var(--text-color-muted);
}

.playerPosition {
  color: var(--text-color-muted);
}

.playerPosition.QB {
  color: var(--color-red);
}

.playerPosition.RB {
  color: var(--secondary-color);
}

.playerPosition.WR {
  color: var(--color-blue);
}

.playerPosition.TE {
  color: var(--primary-color);
}

.playerPosition.K {
  color: var(--color-purple);
}

@media (max-width: 1024px) {
  .playerInLeagueCard p {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 768px) {
  .playerInLeagueCard p {
    font-size: var(--font-size-small);
  }
}