@import '../styles/variables.css';

.container {
  padding: var(--size4);
  text-align: center;
}

.buttonGroup {
  margin-bottom: var(--size4);
  display: flex;
  gap: var(--size2);
  justify-content: center;
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
}

@media (max-width: 768px) {
  .buttonGroup {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    gap: var(--size1);
  }
}