@import "../styles/variables.css";

.connectTeamPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: var(--size2);
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size2);
  margin-bottom: var(--size2);
}

.pageHeader p,
.pageHeader h1 {
  margin: 0;
}

.formWrapper {
  background-color: var(--color-surface);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--);
}

.select,
.input {
  width: 100%;
}

.button {
  margin-top: var(--);
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--);
}

.backButton {
  justify-content: flex-start;
}

.message {
  text-align: center;
  color: var(--color-text-primary);
  padding: var(--);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.signInContainer {
  display: flex;
  gap: var(--size1);
  align-items: center;
  justify-content: center;
}

.connectTeamFormWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.connectTeamFormContainer {
  display: flex;
  flex-direction: column;
  gap: var(--);
  align-items: center;
}

.externalLeagueSelect h2,
.externalLeagueSelect ul {
  margin-top: 0;
}

.externalLeagueSelect h2 {
  margin-bottom: 0;
}

.selectButtons {
  display: flex;
  justify-content: flex-start;
  gap: var(--size2);
}

.externalLeagueList {
  display: flex;
  flex-direction: column;
  gap: var(--size1_5);
}

@media (min-width: 768px) {
  .connectTeamPageContainer {
    gap: var(--size4);
  }

  .connectTeamFormWrapper {
    width: 350px;
  }
}
