@import '../styles/variables.css';

.connectTeamPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  background-color: var(--color-surface);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select,
.input {
  width: 100%;
}

.button {
  margin-top: 1rem;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.backButton {
  justify-content: flex-start;
}

.message {
  text-align: center;
  color: var(--color-text-primary);
  padding: 1rem;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.connectTeamFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.connectTeamFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.externalLeagueSelect h2,
.externalLeagueSelect ul {
  margin-top: 0;
}

.externalLeagueSelect h2 {
  margin-bottom: 0;
}

.selectButtons {
  display: flex;
  justify-content: flex-start;
  gap: var(--size2);
}
