.home-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 100%; /* Changed from 1400px to 100% */
}

.home-content {
  flex-grow: 1;
  height: 100%;
  width: 100%; /* Add this to ensure full width */
}

@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;
  }
}
