.alert {
  background-color: var(--alert-background-color);
  color: var(--alert-text-color);
  padding: var(--size2);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size2);
  gap: var(--size1);
  max-width: 600px;
}

.alert p {
  margin: 0;
}

@media (max-width: 768px) {
  .alert {
    flex-direction: column;
  }

  .alert button {
    margin-top: var(--size1);
  }
}