@import '../../styles/variables.css';

.button {
    border-radius: var(--border-radius-medium);
    border: 1px solid transparent;
    padding: var(--size1) var(--size2);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.buttonInLink {
    width: 100%;
}

.primary {
    color: var(--text-color-light);
}

.primary:hover {
    background-color: var(--primary-hover-color);
    border-color: var(--text-color);
}

.primary:focus,
.primary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.secondary:hover {
    background-color: var(--secondary-hover-color);
}

.secondary:focus,
.secondary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.clear {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.clear:hover {
    background-color: var(--background-color-offset);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.danger {
    background-color: var(--color-red);
    color: var(--text-color-light);
}

.danger:hover {
    background-color: var(--color-red-hover);
}

/* Disabled styles */
.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.primary.disabled {
    background-color: var(--primary-disabled-bg);
    color: var(--primary-disabled-color);
}

.secondary.disabled {
    background-color: var(--secondary-disabled-bg);
    color: var(--secondary-disabled-color);
}

.clear.disabled {
    background-color: var(--clear-disabled-bg);
    color: var(--clear-disabled-color);
}

.danger.disabled {
    background-color: var(--danger-disabled-bg);
    color: var(--danger-disabled-color);
}
