@import '../../styles/variables.css';

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkbox {
  min-width: var(--size2);
  min-height: var(--size2);
  margin-right: var(--size1_5);
  cursor: pointer;
  accent-color: var(--primary-color);
}

.label {
  color: var(--text-color);
  cursor: pointer;
}