@import "../../styles/variables.css";

.app-container {
  display: grid;
  grid-template-areas:
    "header header"
    "content content";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  min-height: 100vh;
}

.layoutSpinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}


.header {
  grid-area: header;
  z-index: 1050;
  position: fixed;
  width: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-width) * -1);
  width: var(--sidebar-width);
  height: 100vh;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-open .sidebar-container {
  left: 0;
}

@media (min-width: 1024px) {
  .app-container {
    grid-template-areas:
      "sidebar content";
    grid-template-columns: var(--sidebar-width) 1fr;
  }
  
  .header {
    display: none;
  }

  .sidebar-container {
    position: static;
    grid-area: sidebar;
  }
}

.content {
  grid-area: content;
  overflow-y: auto;
  min-height: 100vh;
}