@import '../../styles/variables.css';

.link {
  text-decoration: none;
}

.linkButton {
  border: none;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  padding: var(--size1) var(--size2);
  font: inherit;
}

.underline {
  text-decoration: underline;
}

.linkButton:hover {
  color: var(--primary-hover-color);
}

.primaryLinkButton {
  color: var(--primary-color);
}

.primaryLinkButton:hover {
  color: var(--primary-hover-color);
}

.primaryLinkButton:focus,
.primaryLinkButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondaryLinkButton {
  color: var(--secondary-color);
}

.secondaryLinkButton:hover {
  color: var(--secondary-hover-color);
}

.secondaryLinkButton:focus,
.secondaryLinkButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mutedLinkButton {
  color: var(--text-color-muted);
}

.mutedLinkButton:hover {
  color: var(--text-color-secondary);
}

.mutedLinkButton:focus,
.mutedLinkButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.blackLinkButton {
  color: var(--text-color-light);
}

.blackLinkButton:hover {
  color: var(--text-color-light-muted);
}

.blackLinkButton:focus,
.blackLinkButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.small {
  font-size: var(--font-size-small);
  padding: var(--size0_5) var(--size1);
}

.large {
  font-size: var(--font-size-large);
  padding: var(--size1_5) var(--size2);
}