@import "../../styles/variables.css";

.menuItem {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  gap: var(--size1);
  padding: var(--size1) var(--size2);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-left: 2px solid transparent;
}

/* .menuItemContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size1);
} */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.menuItem.active {
  background-color: var(--background-color-offset);
  border-left: 2px solid var(--primary-color);
}
