@import '../../styles/variables.css';

.input {
  width: 100%;
  padding: var(--size2) var(--size1_5);
  border: 1px solid var(--background-color-offset);
  border-radius: var(--size0_5);
  background-color: var(--background-color-offset);
  color: var(--text-color);
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.25s, box-shadow 0.25s;
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(245, 138, 7, 0.3); /* Use primary color with transparency */
  outline: none;
}

.label {
  display: block;
  margin-bottom: var(--size0_5);
}